<!--<ul class="list-group">-->
<!--  <li class="list-group-item bg-light">Courses</li>-->
<!--  <li-->
<!--    class="list-group-item"-->
<!--    [ngClass]="{'active':course === selectedCourse}"-->
<!--    (click)="selectCourse(course)"-->
<!--    *ngFor="let course of courses">-->
<!--    {{course.title}}-->
<!--  </li>-->
<!--</ul>-->
<div
  class="container">
  <h2>Courses</h2>
  <div class="row">
    <span
      *ngFor="let course of courses"
      class="col-sm-3 m-2">
      <div
        class="card bg-light">
        <img
          class="card-img-top"
          src="https://picsum.photos/300/200"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">
            <a routerLink='/course/{{course.id}}'>{{course.title}}</a>
          </h5>
        </div>
      </div>
    </span>
  </div>
</div>
