<div class="row">
  <div class="col">
    <app-course-grid-component></app-course-grid-component>
  </div>
  <div class="col">
    <app-module-list-component></app-module-list-component>
  </div>
  <div class="col">
    <ul class="list-group">
      <li class="list-group-item active">Lessons</li>
      <li class="list-group-item">Lesson 1</li>
    </ul>
  </div>
  <div class="col">
    <ul class="list-group">
      <li class="list-group-item active">Topics</li>
      <li class="list-group-item">Topic 1</li>
    </ul>
  </div>
  <div class="col">
    <ul class="list-group">
      <li class="list-group-item active">Widgets</li>
      <li class="list-group-item">Widget 1</li>
    </ul>
  </div>
</div>
